<app-header></app-header>
<form id="point-form" (ngSubmit)="submit(pointForm)" #pointForm="ngForm">
    <table [ngSwitch]="currentMode">


        <table *ngSwitchCase="'mobile'" [ngClass]="currentMode">
            <tr>
                <td id="td-for-exit-link" [ngClass]="currentMode"><app-exit-link id="exit-link"></app-exit-link></td>
            </tr>
            <tr>
                <td id="image">
                    <app-image (pointClicked)="onPointClicked($event)"></app-image>
                </td>
            </tr>
            <tr>
                <td><app-error-message [message]="errorMessageR" [ngClass]="'error'"></app-error-message></td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-radio [title]="'Значение X:'" [name]="'inputX'"
                            [values]="['-2', '-1.5', '-1', '-0.5', '0', '0.5', '1', '1.5', '2']"
                            [(ngModel)]="point.x"></app-input-radio>
                    </p>
                    <app-error-message id="x-error-message" [message]="errorMessageX"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-text [title]="'Значение Y:'" [name]="'inputY'"
                            [placeholder]="'Введите число от -3 до 3'" [(ngModel)]="point.y"></app-input-text>
                    </p>
                    <app-error-message id="y-error-message" [message]="errorMessageY"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-radio [title]="'Значение R:'" [name]="'inputR'"
                            [values]="['-2', '-1.5', '-1', '-0.5', '0', '0.5', '1', '1.5', '2']" [(ngModel)]="point.r"
                            (ngModelChange)="onRChange($event)"></app-input-radio>
                    </p>
                    <app-error-message id="r-error-message" [message]="errorMessageR"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <br>
            <tr [ngClass]="currentMode">
                <td id="td-for-button"><button id="submit-button" [ngClass]="currentMode">Отправить</button></td>
            </tr>
            <br>
            <tr>
                <td id="td-for-result" colspan="2"><app-table></app-table></td>
            </tr>
        </table>


        <table *ngSwitchCase="'tablet'" [ngClass]="currentMode">
            <tr>
                <td id="td-for-exit-link" [ngClass]="currentMode"><app-exit-link id="exit-link"></app-exit-link></td>
            </tr>
            <tr>
                <td id="image">
                    <app-image (pointClicked)="onPointClicked($event)"></app-image>
                </td>
            </tr>
            <tr>
                <td><app-error-message [message]="errorMessageR" [ngClass]="'error'"></app-error-message></td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-radio [title]="'Значение X:'" [name]="'inputX'"
                            [values]="['-2', '-1.5', '-1', '-0.5', '0', '0.5', '1', '1.5', '2']"
                            [(ngModel)]="point.x"></app-input-radio>
                    </p>
                    <app-error-message id="x-error-message" [message]="errorMessageX"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-text [title]="'Значение Y:'" [name]="'inputY'"
                            [placeholder]="'Введите число от -3 до 3'" [(ngModel)]="point.y"></app-input-text>
                    </p>
                    <app-error-message id="y-error-message" [message]="errorMessageY"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-radio [title]="'Значение R:'" [name]="'inputR'"
                            [values]="['-2', '-1.5', '-1', '-0.5', '0', '0.5', '1', '1.5', '2']" [(ngModel)]="point.r"
                            (ngModelChange)="onRChange($event)"></app-input-radio>
                    </p>
                    <app-error-message id="r-error-message" [message]="errorMessageR"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <br>
            <tr [ngClass]="currentMode">
                <td id="td-for-button"><button id="submit-button" [ngClass]="currentMode">Отправить</button></td>
            </tr>
            <br>
            <tr>
                <td id="td-for-result" colspan="2"><app-table></app-table></td>
            </tr>
        </table>


        <table *ngSwitchCase="'desktop'">
            <tr>
                <td id="td-for-exit-link" colspan="2" [ngClass]="currentMode"><app-exit-link
                        id="exit-link"></app-exit-link></td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-radio [title]="'Значение X:'" [name]="'inputX'"
                            [values]="['-2', '-1.5', '-1', '-0.5', '0', '0.5', '1', '1.5', '2']"
                            [(ngModel)]="point.x"></app-input-radio>
                    </p>
                    <app-error-message id="x-error-message" [message]="errorMessageX"
                        [ngClass]="'error'"></app-error-message>
                </td>
                <td id="image" rowspan="3">
                    <app-image (pointClicked)="onPointClicked($event)"></app-image>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-text [title]="'Значение Y:'" [name]="'inputY'"
                            [placeholder]="'Введите число от -3 до 3'" [(ngModel)]="point.y"></app-input-text>
                    </p>
                    <app-error-message id="y-error-message" [message]="errorMessageY"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        <app-input-radio [title]="'Значение R:'" [name]="'inputR'"
                            [values]="['-2', '-1.5', '-1', '-0.5', '0', '0.5', '1', '1.5', '2']" [(ngModel)]="point.r"
                            (ngModelChange)="onRChange($event)"></app-input-radio>
                    </p>
                    <app-error-message id="r-error-message" [message]="errorMessageR"
                        [ngClass]="'error'"></app-error-message>
                </td>
            </tr>
            <tr [ngClass]="currentMode">
                <td id="td-for-button"><button id="submit-button" [ngClass]="currentMode">Отправить</button></td>
            </tr>
            <br>
            <tr>
                <td id="td-for-result" colspan="2"><app-table></app-table></td>
            </tr>
        </table>
    </table>
</form>